albumentations
huggingface-hub==0.20.3
numpy==1.24.1
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
Pillow==9.3.0
safetensors==0.4.2
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.12.0
timm==0.9.12
tqdm==4.66.1
urllib3==1.26.13
wandb==0.16.2
gdown